{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Todo List Details</title>
</head>
<main>
    <div>
        <h1>{{ list.name }}</h1>
        <a href="{% url 'todo_list_update' todo_detail.id %}">Update list</a>

        <h2>Tasks</h2>
        <table>
            <thead>
            <th>Task</th>
            <th>Due Date</th>
            </thead>
            <tbody>
                {% for detail in todo_detail.items.all %}
                <tr>

                    <td>{{ detail.task }}</td>
                    <td>{{ detail.due_date }}</td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</main>

<body>

</body>

</html>
