{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Create Todo List</title>
</head>
<main>
    <div>
        <h1>Update list</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>
    </div>
</main>

<body>

</body>

</html>
