{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>
<main>
    <div>
        <h1>My Lists</h1>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>

        <table>
            <thead>
            <th>Name</th>
            <th>Number of items</th>
            </thead>
            <tbody>
                {% for list in show_TodoList %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                    <td>{{ list.items.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<body>

</body>

</html>
